<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Banniere -->
            <nav class="justify-content-between col-12 col-6-lg navbar">

                <a class="navbar-brand">FR | EN  </a>
                <a class="navbar-brand">Infos pratiques </a>
                <a class="navbar-brand">Agenda </a>
                <a class="navbar-brand">Billeterie </a>

                <form name="barreSearch"  class=" form-inline ">
                  <input class=" form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <div class="logIn">
                    <i class="far fa-user"></i>
                </div>

              </nav>
        
        
            <!-- Navbar -->
            <nav class="col-12 col-6-lg navbarAccueil2 navbar navbar-expand-lg ">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">    
                        <a class="nav-item nav-link" href="#">MUSEE & EXPOS</a>
                        <a class="nav-item nav-link" href="#">11 CONTI </a>
                        <a class="nav-item nav-link" href="#">L'INSTITUTION</a>
                        <a class="nav-item nav-link" href="#">PROFESSIONNELS</a>
                        
                        <!-- <a class="nav-item nav-link" href="#">Pricing</a>
                            <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
                        </div>
                        
                        
                        <a class="nav-item nav-link" href="#">BOUTIQUE EN LIGNE </a>

                </div>
              </nav>
        </div>

     


        <!-- <footer class="footerrcouleurboutique">
            <div id="footer1" class="ligneSite largeurSite font14" >
                <p class=" font16 couleurTextBlanc strong"></p>
                <ul>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" title="Boutiques A__B" class="h">Boutiques</a>
                    </li>
                </ul>
            </div> -->


        </footer>


    </div>
    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


</html>